.nav-background-color {
    background: #1F515B
}

.layout-background-color {
    background: #EFF5F2
}

.color-white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #ffffff
}

.link-fade {
    color: #44544A61 !important;
}

.link-active {
    color: #44544ADE !important;
}

.table-head-bg {
    background: #C1D3D0 !important
}

.table-cell-border {
    border-bottom: 1px solid #C3CEC7 !important
}

.table-cell-border:hover {
    border-bottom: 2px solid #C1D3D0 !important;
    box-shadow: 1px 1px 5px #C1D3D0 !important;
}

.contained-button {
    background-color: #37BD69 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 10px 0 #4C4E6438 !important;
    border-radius: 8px !important;
    padding: 10px 5px !important;
}

.outlined-button {
    border: 1px solid #37BD69 !important;
    color: #37BD69 !important;
    border-radius: 8px !important;
    padding: 10px 5px !important;
}

.color-orange {
    color: #FA6140 !important
}

.color-light-blue {
    color: #00AFD6 !important
}

.color-green {
    color: #006D35 !important
}

.color-dark-green {
    color: #1F515B !important
}

.color-light-green {
    color: #37BD69 !important
}